@{
    ViewData["Title"] = "Relatórios";
}

<h1>Relatórios</h1>

<ul class="list-group">
    <li class="list-group-item"><a asp-action="TopFaturas">Top 10 Faturas por Valor Total</a></li>
    <li class="list-group-item"><a asp-action="TopItens">Top 10 Itens de Fatura</a></li>
    <li class="list-group-item"><a asp-action="TotalPorCliente">Total por Cliente</a></li>
    <li class="list-group-item"><a asp-action="TotalPorMesAno">Total por Mês/Ano</a></li>
</ul>
