@model TesteDengine.Application.Services.DTOs.ClienteDTO

@{
    ViewData["Title"] = "Excluir Cliente";
}

<h2>Excluir Cliente</h2>

<div>
    <h4>Tem certeza que deseja excluir?</h4>
    <p><strong>@Model.Nome</strong></p>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="ClienteId" />
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
